
@{
    ViewBag.Title = "Volunteer";
}

<h2>Volunteer</h2>

<div class="panel-body">
    <img src="~/Content/pictures/harvey4.jpg" alt="Mountain View" style="width:1200px;height:400px;">
</div>

<div>
    <a href="~/Volunteer/Create" class="btn btn-success" role="button">Creater Profile</a><br />
    <div style="display: inline-block;" class="card">
        <div class="container">
            <h4><b>Attn: Hurricane Harvey Volunteers Needed in Texas and Louisiana</b></h4>
            <p>If you are in Texas or Louisiana and want to help with Hurricane Harvey relief efforts, please click the button below to apply. </p>
        </div>
        <a href="~/Enrollment/Create" class="btn btn-primary" role="button">Volunteer</a>
    </div>
    <div style="display: inline-block;" class="card" height="100px">
        <div class="container">
            <h4><b>All Other Volunteer Applications</b></h4>
            <p>If you are interested in Red Cross volunteer opportunities outside Texas or Louisiana, please click the button below to apply. </p>
        </div>
        <a href="~/Enrollment/Create" class="btn btn-primary" role="button">Volunteer</a>

    </div>

</div>